<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wine App</title>
</head>

<body>
  <h1>Welcome to the Decanter!</h1>
  <p>An app for collecting your favorite wine with tasting notes and food pairings!</p>
  <a href="/wines/new/">Add Wine to your Collection</a>
  <a href="/wines/">The Cellar</a>
</body>

</html>