<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine Index</title>
</head>

<body>
    <h1>Your Cellar</h1>
    <ul>
        <% wines.forEach(wine=> { %>
            <li>
                <a href="/wines/<%= wine._id %>">
                    <%= wine.vineYard %>, <%= wine.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <a href="/">Home</a>
    <a href="/wines/new/">Add Wine to your Collection</a>
</body>

</html>